body{
    text-align: center;
    padding: 5%;
}
.link{
    position: absolute;
    top: 100px;
    left : 30px;
}
.favourite_btn{
    cursor: pointer;
    color: 'red';
    background-color: 'green';
}
.recipe-item{
    padding: 10px;
}